* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}


@font-face {
    font-family: "hello";
    src: url(Hello.ttf);
}

body {
    background-color: #000;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-family: "hello", sans-serif;
    font-size: 4rem;
    color: #000;
    text-align: center;
}

.hero-img {
    background-image: url(paul-hanaoka-4nabmlliGdU-unsplash.jpg);
    background-size: cover;
    width: 40%;
    height: 100vh;
}

.background-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-color: rgba(232, 227, 219, 0.676);
    margin-top: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution {
    font-size: 0.8rem;
    padding: 0.5em;
}

.sign-up {
    width: 40%;
}

.container {
    display: flex;
    width: 90%;
    justify-content: center;
}