* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}


@font-face {
    font-family: "hello";
    src: url(Hello.ttf);
}

body {
    background-color: #000;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.3;
}

p:last-child {
    margin-top: 1em;
}

h1 {
    font-family: "hello", sans-serif;
    font-size: 4rem;
    color: #000;
    text-align: center;
}

.hero-img {
    background-image: url(paul-hanaoka-4nabmlliGdU-unsplash.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.background-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-color: rgba(232, 227, 219, 0.676);
    margin-top: 50px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution {
    font-size: 0.8rem;
    padding: 0.5em;
    position: absolute;
    bottom: 5px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.sign-up {
    background-color: #fafafa;
    color: #000;
}

.lead {
    padding: 2em;
    font-size: 1.2rem;
}

.form{
    box-shadow: 0 2px 2px #d4d3d3;
    padding: 2em;
    background-color: #fff;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form h2 {
    margin-bottom: 1em;
}

form a {
    text-decoration: none;
    color: #a8035e;
    cursor: pointer;
}

label {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

input {
    appearance: none;
    border: 1px solid #d4d3d3;
    border-radius: 5px;
    line-height: 1.3;
    padding: 0.2em 0.6em;
    font: inherit;
    font-size: 0.8rem;
}

input:focus {
    box-shadow: 4px 4px 5px #d4d3d3;
}

input:invalid {
    border: 1px solid rgb(198, 4, 4);
}

.submission {
    padding: 2em;
}

button {
    padding: 0.8em 2em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #a8035e;
    color: #fff;
}

@media (min-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .hero-img {
        background-image: url(paul-hanaoka-4nabmlliGdU-unsplash.jpg);
        background-size: cover;
        width: 40%;
        height: 100vh;
    }

    .logo {
        background-color: rgba(232, 227, 219, 0.676);
        margin-top: 150px;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sign-up {
        width: 50%;
        padding-top: 8em;
    }

    .form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}